<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        
        <title><%= @title%></title>
        
        <link rel="stylesheet" type="text/css" href="/css/style.css">

        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="/js/javascript.js"></script>

    </head>
    
    <body>
        <%
            nav = ["Home", "How It Works", "Our Services", "Contact Us", "Book An Appointment", "Join Our Team"] 
            pages = ["/", "about", "services", "contact", "appointment", "recruit"] 
        %>

        <header>
            <div id="login">
            
            </div>

            <div id="logo">
            
            </div>

            <nav>
                <ul id="nav">

                <% nav.each_with_index do |nav_item, nav_index| %>
                    <li>
                        <a href="<%= pages[nav_index] %>">
                            <%= nav_item %>
                        </a>    
                    </li>
                <% end %>

                </ul>
            </nav>

            <div class="clear"></div>

        </header>

        <div id="container">
            <div id="banner_photo">
                <img src="/images/<%= @photo%>.jpg" />
            </div>

            <%= yield %>



        </div>

        <footer>

        </footer>
    </body>
</html>